<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>护林者联盟</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/index/icon.png">
		<link rel="stylesheet" href="/css/indexCSS/bootstrap.min.css">
		<link rel="stylesheet" href="/css/indexCSS/slicknav.min.css">
		<link rel="stylesheet" href="/css/indexCSS/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/indexCSS/font-awesome.min.css">
        <link rel="stylesheet" href="/css/indexCSS/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/indexCSS/owl.theme.default.min.css">
        <link rel="stylesheet" href="/css/indexCSS/animate.min.css">
        <link rel="stylesheet" href="/css/indexCSS/magnific-popup.css">
		
		<!-- Xman CSS -->
        <link rel="stylesheet" href="/css/indexCSS/normalize.css">
        <link rel="stylesheet" href="/css/indexCSS/style.css">
        <link rel="stylesheet" href="/css/indexCSS/responsive.css">
     <style type="text/css">
     
     h2.indexH{
     color:white
     }
     h3.indexA{
    padding-top:100px;
	padding-bottom:100px;
     }
    </style>
    </head>
    <body>
		
		
		
	<header id="header" class="header">
			<div class="header-inner">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-2 col-xs-12">
							<div class="logo">
								<a href="index.html">
								<img src="/images/index/logo.png" alt="logo.png"></a>
							</div>
						</div>
						<div class="col-md-9 col-sm-10 col-xs-12">
							<div class="mobile-menu"></div>
							<nav class="navbar navbar-default">
								<div class="collapse navbar-collapse">
									<ul id="nav" class="nav navbar-nav">
										<li class="current"><a href="#slider">欢迎</a></li>
										<li><a href="#about">关于我们</a></li>
										<li><a href="#story">信息公告</a></li>
										<li><a href="#latest-works">图片墙</a></li>
										<li><a href="mapReport">地图检举</a></li>
										<li><a href="login" id="log">登录</a></li>
										<li><a href="user">个人中心</a></li>
										<li><a href="comment">用户评论</a></li>
										
									</ul>
								</div> 
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		
		<!-- Slider Area -->
		<section id="slider" class="slider" style="background-image:url('/images/index/beijing.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-12 col-xs-12">
						<div class="text">
							<h1>爱护树木，人人有责</h1>
							<h2 class="indexH">第一个“地球日”活动，是在1970年4月22日由美国学生和全国各大团体参与、发起的。到了1990年4月22日，我国为纪念“地球日”20周年，向全球发出呼吁：“我们愿意通过广泛的国际合作来保护地球环境，制止生态恶化！救救地球，因为地球只有一个！</h2>
							<div class="button">
								<!--<a href="#" class="btn primary "><i class="fa fa-briefcase"></i>view work</a>-->
								<a href="#" class="btn">我也这么觉得</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start about -->
		<section id="about" class="about">
			<div class="container">
				<div class="row">
					<div class="about-content">
						<div class="col-md-2 col-sm-2 col-xs-12">
							<div class="section-title">
								<h2>关于 <span>我们</span></h2>
							</div>
						</div>
						<div class="col-md-6  col-sm-6 col-xs-12">
							<div class="single-about">
								<h3 class="indexA">纵使我国在人工造林方面不断进步完善，但生态环境恶化的局面并没有从根本改善。为了保护当地有限的森林资源我们团队创建了这样一个保护森林的平台，它兼具了案件检举、事件处理等一系列保护措施，虽不能本质上解决破坏树林的行为但我们相信在群众的帮助下能够有效的减少破坏行为。希望大家能够踊跃的加入我们。</h3>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="image">
								<img src="/images/index/about.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End about -->	
		<!-- Start service -->		
		<!--/ End service -->	
		<!-- Start skill -->
		<!--/ End skill -->	
		<!-- Start Story -->
		<section id="story" class="story section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title">
							<h2>信息公告 <span>实时</span></h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
						<div class="story-content">
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.4s">2018</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
									<h3>林业科技森林病虫害防治对策</h3>
									<p>合理使用化学农药</p>
									<p class="p2">近年来，随着我国林业科技快速发展，化学农药被大量用于森林病虫害的防治与林木保护上面。当森林树木出现病虫害时，我国一些地方政府为了追求经济利益，通常采用较为简单的办法，即大量滥用化学农药对林木病虫害进行防治。地方政府使用这种方法虽能达到快速杀死害虫目的，却也忽略了不合理使用化学农药产生的弊端（滥用农药的弊端即不仅杀不死病害虫，还会影响林木的生产质量）。合理使用化学农药不仅能提高森林病虫害的治理效果，也有助于我国林业健康发展。</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.6s">2018</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
									<h3>森林病虫害发生原因</h3>
									<p>外来生物入侵因素</p>
									<p class="p2">随着我国经济逐渐与国际接轨，我国与各国之间的贸易往来也越加频繁，而国外大部分危险生物会利用贸易渠道入侵到我国。以松材线虫为例，我国贸易商在进口设备时，需要使用大量木材制作的包装箱来装载这些设备，而松线虫就是“藏匿”木材包装箱进入我国。同时，由于外来入侵物种具有传播能力强、繁殖能力强、生态适应能力强等特点，在我国多数地区生长繁衍。典型入侵危害性大的病害虫有：二斑叶螨、美洲斑潜蝇、小楹白蚁、美国白蛾、葡萄根瘤蚜、油松叶小卷蛾、松材线虫等。给我国林业带来了非常严重的危害与经济损失。</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">2018</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
									<h3>森林病虫害发生特点</h3>
									<p>森林病虫害发生面积不断增加</p>
									<p class="p2">造成森林病虫害发生面积不断增加的因素有以下几种：①由于温室效应的不断积累，使得全球气候变暖，造成寒冷的冬季温度偏暖。冬季温度偏暖，为我国较多地区的森林提供了良好生长环境。较好的生长环境不仅利于树木的生长，对森林病虫害也大有益处（益处即是降低病虫害死亡率，加快病虫害繁殖速度）。②由于天气的持续干旱，会给虫卵以及害虫创造一个较好的繁殖与生存环境，加大了森林病虫害的发生面积。③森林病虫大面积的害爆发后，不合理使用化学农药，会造成病虫害天敌的大量死亡与抗药性的增强，加大了森林病害虫的发生面积。</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="1s">2018</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1s">
									<h3>我国林业发展趋势</h3>
									<p>林业科技推广开发趋势</p>
									<p class="p2">在林业推广开发领域，当前主要存在五大方面的发展趋势。第一，为了使林业发展的科技含量提高，林业逐渐向着规模化方向发展。第二，无论何时，科技是第一生产力，因此为了提高我国林业的科学技术水平，技术创新成为了一大发展趋势。第三，随着我国林业经济体制改革的深刻贯彻，使得林业科技向着经济手段方向发展。第四，由于行业融合存在巨大的潜力作用，使得林业科技发展逐渐朝向多元化。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End story -->	
		
		<!-- Latest Works -->
		<section id="latest-works" class="latest-works section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title">
							<h2>林业 <span>特色·风采</span></h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="isotop-active">
						<div class="col-md-4 col-sm-4 col-xs-12 print identity">
							<!-- single-work -->
							<div class="single-work">
								<img src="/images/index/lin1.jpg" alt="#">
								<!--<div class="works-hover">
									<h4><a href="lin-2colum.html">WEB DEVELOPMENT</a></h4>
									<div class="link"></div>
								</div>-->
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<!-- single-work -->
							<div class="single-work">
								<img src="/images/index/lin2.jpg" alt="">
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<!-- single-work -->
							<div class="single-work">
								<img src="/images/index/lin3.jpg" alt="">
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<!-- single-work -->
							<div class="single-work">
								<img src="/images/index/lin4.jpg" alt="">
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<!-- single-work -->
							<div class="single-work">
								<img src="/images/index/lin5.jpg" alt="">
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<!-- single-work -->
							<div class="single-work">
								<img src="/images/index/lin6.jpg" alt="">
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<!-- single-work -->
							<div class="single-work">
								<img src="/images/index/lin7.jpg" alt="">
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<!-- single-work -->
							<div class="single-work">
								<img src="/images/index/lin8.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Works -->
		
		<!-- Testimonials -->
		<section id="testimonials" class="testimonials section">
			
		</section>
		<!--/ End testimonial -->
		
		<!-- Blog -->		<!--/ End blog -->
		
		<!-- Newslatter -->		<!--/ End Newslatter -->
	
		<!-- Contact -->		<!--/ End Contact -->
		
		<!-- Clients -->		<!--/ End Clients -->
		
		<!-- Footer -->
		<footer id="footer" class="footer section">
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p>超级无敌之终极初代护林网站 - S.P.F.M</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--/ End Footer -->
		
        <script src="/js/index/jquery.min.js">  </script>
        <script src="/js/index/bootstrap.min.js"></script>
        <script src="/js/index/jquery.nav.js"></script>
        <script src="/js/index/jquery.slicknav.min.js"></script>
        <script src="/js/index/easing.min.js"></script>
		<script src="/js/index/jquery-appear.js"></script>
        <script src="/js/index/owl.carousel.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="/js/index/jquery.counterup.min.js"></script>
		<script src="/js/index/isotope.pkgd.min.js"></script>
		<script src="/js/index/wow.min.js"></script>
		<script src="/js/index/jquery.magnific-popup.min.js"></script>
		
        <script type="text/javascript" src="/js/index/gmaps.min.js"></script>
        <script src="/js/index/main.js"></script>

    <script src='/js/jquery.min.js'></script>
    <script type="text/javascript">
 $(function TorF(){
        $.ajax({
	         url: "http://localhost:8080/hlw/backstage/index1",
	         dataType:"json",
	         success: function(result){       //传数据成功之后的操作   result是servlet传过来的数据  这个函数对result进行处理，让它显示在 输入框中
	     
	       if(result.yon==1){ 
	         $('#log').attr('href','http://localhost:8080/hlw/index');
	         $("#log").text('注销');
	         $("#log").click(function(e){
	            logout();
	         })
	         }else{
	         $('#log').attr('href','http://localhost:8080/hlw/login');
             $("#log").text('登录');
	         }
	         },
	 	 error : function() {
          alert("异常1！");
      }
	     });
	     
	     
  })
  
function logout(){
	          $.ajax({
	         url: "http://localhost:8080/hlw/backstage/index2",
	         
	         success: function(result){       //传数据成功之后的操作   result是servlet传过来的数据  这个函数对result进行处理，让它显示在 输入框中
	          alert("注销成功");
	         },
	 	 error : function() {
          alert("异常2！");
           }
	     });
	     }
	     <!--个人中心判断-->

  </script>
  </body>
</html>
